body {
  font-family: 'Gothic A1', sans-serif;
  margin: auto;
  width: 1200px;
  background-color: #f99a6b;
}

h2 {
  padding-top: 10px;
}

.center {
  display: block;
  margin: auto;
}

#title {
  text-align: center;
  padding-top: 50px;
}

#subtitle {
  font-weight: bold;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
}

#volcano-img {
  text-align: center;
  width: 500px;
}